html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Gothic A1', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  flex: 1; 
  /* top three are important for the footer to be pushed down. dont change. */
  width: 100%;
  margin: 0 auto;
}


/* |STYLING FOR TOP SECTION OF LANDING PAGE */

/* this is the shop name font styler */
.page-title {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  margin: 0;
}

.top-section {
  background-color: #321F28;
  color: #E79E4F;
  
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-right: 100px;
}

.intro {
  margin: 100px;
  display: flex;
  /* top 2 works fine? save for the img that needs to be styled */
  align-items: flex-start;
}

.intro .intro-text {
  flex: 1;
}

.img1 {
  border: 3px solid #734046;
  border-radius: 1.5px;
}

button {
  background-color: #A05344;
  padding: 12px;
  border-radius: 3px;
  border-style: none;
  font-size: 15px;
  font-weight: 600;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.intro-text p {
  font-size: 20px;
}

/* |STYLING FOR MID SECTION OF LANDING PAGE */

.mid-section {
  background-color: #734046;
  color: #E79E4F;
  text-align: center;
}

.product-display img {
  width: 250px;
  height: 350px;
  border: 3px solid #321F28;
  border-radius: 1.5px;
}

.product-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px 0px;
  font-weight: 500;
}

/* |STYLING FOR SECTION 3| */

.section-3 {
  background-color: #644e58;
  text-align: center;
  font-size: 24px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.quote {
  display: flex;
  flex-flow: column nowrap;
}

#quote-author {
  align-self: flex-end;
  font-weight: bold;
}


/* |STYLING FOR SECTION 4| */

.section-4 {
  background-color: #734046;
  color: #E79E4F;
  border-radius: 5px;
  margin: 50px auto;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-4-acc {
  flex: 1;
}

.sec-4-butt {
  flex: 0;
  border: 2px solid #E79E4F;
  border-radius: 2.5px;
}

/* |STYLING FOR FOOTER| */

.footer {
  background-color: #321F28;
  text-align: center;
  color: #E79E4F;
  font-size: 15px;
  flex: 0
}

.footer a {
  text-decoration: none;
  color: white;
}

