html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 1;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #321F28;
    color: #E79E4F;
}

ul {
    list-style: none;
    text-decoration: none;
}